<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DeliveryReviewMapper">

    <sql id="baseResult">
        dr.id,
        dr.charge_id,
        dr.staff_code,
        dr.rent_user_code,
        dr.owner_user_code,
        dr.step,
        dr.house_code,
        dr.rent_day,
        dr.parent_id,
        dr.start_live,
        dr.end_live,
        dr.pay_type,
        dr.contract_price,
        dr.create_date,
        dr.contract_code,
        dr.contract_status
    </sql>

    <sql id="baseParam">
        <if test="deliveryReview.staffName != null and deliveryReview.staffName != ''">
            AND si.staff_name LIKE CONCAT('%',#{deliveryReview.staffName},'%')
        </if>
        <if test="deliveryReview.rentUserName != null and deliveryReview.rentUserName != ''">
            AND ui.user_name LIKE CONCAT('%',#{deliveryReview.rentUserName},'%')
        </if>
        <if test="deliveryReview.step != null">
            AND dr.step = #{deliveryReview.step}
        </if>
        <if test="deliveryReview.payType != null">
            AND dr.pay_type = #{deliveryReview.payType}
        </if>
        <if test="deliveryReview.contractStatus != null">
            AND dr.contract_status = #{deliveryReview.contractStatus}
        </if>
    </sql>

    <!-- 分页获取交付审核信息 -->
    <select id="selectDeliveryPage" resultType="java.util.LinkedHashMap">
        SELECT <include refid="baseResult"/>,
        hi.address AS houseAddress,
        hi.city,
        hi.area,
        hi.province,
        ui1.user_name AS rentUserName,
        ui1.avatar AS rentUserAvatar,
        ui2.user_name AS ownerUserName,
        ui2.avatar AS ownerUserAvatar,
        ci.community_name AS communityName
        FROM delivery_review dr
        LEFT JOIN user_info ui1 ON ( ui1.code = dr.rent_user_code )
        LEFT JOIN user_info ui2 ON ( ui2.code = dr.owner_user_code )
        LEFT JOIN house_info hi ON (hi.code = dr.house_code)
        LEFT JOIN community_info ci ON ( ci.code = hi.community_code )
        WHERE 1 = 1
        <include refid="baseParam"/>
        ORDER BY dr.create_date DESC
    </select>

    <!-- 获取正常合同信息 -->
    <select id="selectDeliveryOver" resultType="cc.mrbird.febs.cos.entity.vo.DeliveryReviewVo">
        SELECT <include refid="baseResult"/>,
        hi.address AS houseAddress,
        hi.city,
        hi.area,
        hi.province,
        ui1.user_name AS rentUserName,
        ui1.avatar AS rentUserAvatar,
        ui2.user_name AS ownerUserName,
        ui2.avatar AS ownerUserAvatar,
        ci.community_name AS communityName
        FROM delivery_review dr
        LEFT JOIN user_info ui1 ON ( ui1.code = dr.rent_user_code )
        LEFT JOIN user_info ui2 ON ( ui2.code = dr.owner_user_code )
        LEFT JOIN house_info hi ON (hi.code = dr.house_code)
        LEFT JOIN community_info ci ON ( ci.code = hi.community_code )
        WHERE 1 = 1
        AND dr.contract_status = '1'
        AND dr.step = '2'
        <if test="userCode != null and userCode != ''">
            AND dr.rent_user_code LIKE CONCAT('%',#{userCode},'%')
        </if>
        ORDER BY dr.create_date DESC
    </select>

    <!-- 导出合同信息 -->
    <select id="exportContract" resultType="cc.mrbird.febs.cos.entity.vo.ContractVo">
        SELECT <include refid="baseResult"/>,
        hi.address AS houseAddress,
        hi.city,
        hi.area,
        hi.province,
        ui1.user_name AS rentUserName,
        ui2.user_name AS ownerUserName,
        ci.community_name AS communityName
        FROM delivery_review dr
        LEFT JOIN user_info ui1 ON ( ui1.code = dr.rent_user_code )
        LEFT JOIN user_info ui2 ON ( ui2.code = dr.owner_user_code )
        LEFT JOIN house_info hi ON (hi.code = dr.house_code)
        LEFT JOIN community_info ci ON ( ci.code = hi.community_code )
        WHERE dr.contract_code = #{ contractCode }
    </select>
</mapper>
