<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.HousePriceTrendMapper">

    <sql id="baseResult">
        pt.id,
        pt.community_code AS communityCode,
        pt.house_price AS housePrice,
        pt.create_date AS createDate
    </sql>

    <sql id="baseParam">
        <if test="housePriceTrend.communityCode != null and housePriceTrend.communityCode != ''">
            AND pt.community_code = #{housePriceTrend.communityCode}
        </if>
        <if test="housePriceTrend.communityName != null and housePriceTrend.communityName != ''">
            AND ci.community_name = #{housePriceTrend.communityName}
        </if>
        <if test="housePriceTrend.year != null and housePriceTrend.year != ''">
            AND YEAR(pt.create_date) = #{housePriceTrend.year}
        </if>
        <if test="housePriceTrend.month != null and housePriceTrend.month != ''">
            AND MONTH(pt.create_date) = #{housePriceTrend.month}
        </if>
    </sql>

    <!-- 分页获取房价走势信息 -->
    <select id="selectPriceTrendPage" resultType="java.util.LinkedHashMap">
        SELECT <include refid="baseResult"/>,
        ci.community_name AS communityName,
        ci.province,
        ci.city,
        ci.area,
        YEAR(pt.create_date) AS year,
        MONTH(pt.create_date) AS month
        FROM house_price_trend pt
        LEFT JOIN community_info ci ON (ci.code = pt.community_code)
        WHERE 1 = 1
        <include refid="baseParam"/>
        ORDER BY pt.create_date DESC
    </select>

    <!-- 根据小区编号获取房价走势 -->
    <select id="selectPriceTrendByCommunityCode" resultType="cc.mrbird.febs.cos.entity.HousePriceTrend">
        SELECT <include refid="baseResult"/>, YEAR(pt.create_date) AS year, MONTH(pt.create_date) AS month FROM house_price_trend pt
        WHERE 1 = 1
        <if test="communityCode != null and communityCode != ''">
            AND pt.community_code = #{communityCode}
        </if>
    </select>
</mapper>
