<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderInfoMapper">

    <!-- 分页获取工单信息 -->
    <select id="selectOrderPage" resultType="java.util.LinkedHashMap">
        SELECT
        oi.id,
        oi.order_name,
        oi.repair_code,
        oi.order_code,
        oi.server_type,
        oi.money,
        oi.remark,
        oi.images,
        oi.status,
        oi.customer_id,
        oi.product_id,
        oi.staff_id,
        oi.create_date,
        ui.name as userName,
        ui.phone,
        ss.name AS serverTypeName,
        se.id AS evaluationFlag
        FROM
        order_info oi
        LEFT JOIN user_info ui ON ( ui.id = oi.customer_id )
        LEFT JOIN service_sort ss ON (ss.id = oi.server_type)
        LEFT JOIN staff_evaluation se ON (se.order_code = oi.order_code)
        WHERE
        1 = 1
        <if test="orderInfo.orderCode != null and orderInfo.orderCode != ''">
            AND oi.order_code LIKE CONCAT('%',#{orderInfo.orderCode},'%')
        </if>
        <if test="orderInfo.orderName != null and orderInfo.orderName != ''">
            AND oi.order_name LIKE CONCAT('%',#{orderInfo.orderName},'%')
        </if>
        <if test="orderInfo.status != null">
            AND oi.status = #{orderInfo.status}
        </if>
        <if test="orderInfo.userName != null and orderInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderInfo.userName},'%')
        </if>
        <if test="orderInfo.userId != null">
            AND ui.user_id = #{orderInfo.userId}
        </if>
        ORDER BY
        oi.create_date DESC
    </select>

    <!-- 十天内工单记录 -->
    <select id="selectOrderRecord" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
            DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
            DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' ))
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 查询工单服务类型比例 -->
    <select id="selectOrderServiceTypeRate" resultType="java.util.LinkedHashMap">
        SELECT COUNT(1) AS count, pi.name FROM order_info oi
        LEFT JOIN product_info pi ON (pi.id = oi.product_id)
        WHERE 1 = 1
        GROUP BY oi.product_id
    </select>

    <!-- 根据维修编号获取工单信息 -->
    <select id="selectOrderDetail" resultType="java.util.LinkedHashMap">
        SELECT
        oi.id,
        oi.order_name,
        oi.repair_code,
        oi.order_code,
        oi.server_type,
        oi.money,
        oi.remark,
        oi.images,
        oi.status,
        oi.customer_id,
        oi.product_id,
        oi.staff_id,
        oi.create_date,
        ui.name as userName,
        ui.phone,
        ss.name AS serverTypeName
        FROM
        order_info oi
        LEFT JOIN user_info ui ON ( ui.id = oi.customer_id )
        LEFT JOIN service_sort ss ON (ss.id = oi.server_type)
        WHERE
        1 = 1
        AND oi.repair_code = #{repairCode}
    </select>

    <!-- 本月收益 -->
    <select id="selectIncomeMonth" resultType="java.math.BigDecimal">
        SELECT
        IFNULL( SUM( pr.money ), 0 )
        FROM
        payment_record pr
        WHERE
        DATE_FORMAT( pr.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 本月工单 -->
    <select id="selectWorkOrderMonth" resultType="java.lang.Integer">
        SELECT
        IFNULL( count( 1 ), 0 )
        FROM
        order_info oi
        WHERE
        DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 本月已完成工单 -->
    <select id="selectCompletedWorkOrder" resultType="java.lang.Integer">
        SELECT
        IFNULL( count( 1 ), 0 )
        FROM
        order_info oi
        WHERE
        DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
        AND `status` = 6
    </select>

    <!-- 本月维修工单 -->
    <select id="selectCompletedRepairOrder" resultType="java.lang.Integer">
        SELECT
        IFNULL( count( 1 ), 0 )
        FROM
        repair_info ri
        WHERE
        DATE_FORMAT(ri.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>
</mapper>
