<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ProductInfoMapper">

    <!-- 分页获取产品信息 -->
    <select id="selectProductPage" resultType="java.util.LinkedHashMap">
        SELECT
        pi.id,
        pi.name,
        pi.code,
        pi.`type`,
        pi.images,
        pi.model,
        pi.create_date
        FROM
        product_info pi
        WHERE 1 = 1
        <if test="productInfo.name != null and productInfo.name != ''">
            AND pi.name LIKE CONCAT('%',#{productInfo.name},'%')
        </if>
        <if test="productInfo.code != null and productInfo.code != ''">
            AND pi.code LIKE CONCAT('%',#{productInfo.code},'%')
        </if>
        <if test="productInfo.type != null">
            AND pi.type = #{productInfo.type}
        </if>
        ORDER BY pi.create_date DESC
    </select>
</mapper>
