<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RentInfoMapper">

    <sql id="baseResult">
        ri.id,
        ri.title,
        ri.house_code,
        ri.room_type,
        ri.rent_price,
        ri.rent_remark,
        ri.rental_request,
        ri.room_pictures,
        ri.has_television,
        ri.has_air_conditioner,
        ri.has_wardrobe,
        ri.has_bed,
        ri.has_bathroom,
        ri.has_door_lock,
        ri.has_balcony,
        ri.has_heating,
        ri.has_refrigerator,
        ri.has_washing_machine,
        ri.has_water_heater,
        ri.has_broadband,
        ri.has_sofa,
        ri.has_range_hood,
        ri.has_gas_stoves,
        ri.has_cook,
        ri.flag,
        ri.create_date,
        ri.views,
        ri.rent_type
    </sql>

    <sql id="baseParam">
        <if test="rentInfo.title != null and rentInfo.title != ''">
            AND ri.title LIKE CONCAT('%',#{rentInfo.title},'%')
        </if>
        <if test="rentInfo.hasTelevision != null">
            AND ri.has_television = #{rentInfo.hasTelevision}
        </if>
        <if test="rentInfo.hasAirConditioner != null">
            AND ri.has_air_conditioner = #{rentInfo.hasAirConditioner}
        </if>
        <if test="rentInfo.hasWardrobe != null">
            AND ri.has_wardrobe = #{rentInfo.hasWardrobe}
        </if>
        <if test="rentInfo.hasBed != null">
            AND ri.has_bed = #{rentInfo.hasBed}
        </if>
        <if test="rentInfo.hasBathroom != null">
            AND ri.has_bathroom = #{rentInfo.hasBathroom}
        </if>
        <if test="rentInfo.hasDoorLock != null">
            AND ri.has_door_lock = #{rentInfo.hasDoorLock}
        </if>
        <if test="rentInfo.hasDoorLock != null">
            AND ri.has_door_lock = #{rentInfo.hasDoorLock}
        </if>
        <if test="rentInfo.rentType != null">
            AND ri.rent_type = #{rentInfo.rentType}
        </if>
        <if test="rentInfo.flag != null">
            AND ri.flag = #{rentInfo.flag}
        </if>
        <if test="rentInfo.roomType != null">
            AND ri.room_type = #{rentInfo.roomType}
        </if>
        <if test="rentInfo.userId != null">
            AND si.sys_user_id = #{rentInfo.userId}
        </if>
    </sql>

    <!-- 分页获取出租信息信息 -->
    <select id="selectRentPage" resultType="java.util.LinkedHashMap">
        SELECT <include refid="baseResult"/>,
        ci.community_name AS communityName,
        hi.address AS houseAddress,
        hi.city,
        hi.area,
        hi.province,
        hi.longitude,
        hi.latitude,
        hi.room_number AS roomNumber,
        hi.living_room_number AS livingRoomNumber,
        hi.towards,
        rc.id AS chargeId,
        si.staff_code AS staffCode,
        si.staff_name AS staffName
        FROM rent_info ri
        LEFT JOIN house_info hi ON (hi.code = ri.house_code)
        LEFT JOIN community_info ci ON (ci.code = hi.community_code)
        LEFT JOIN rent_charge rc ON (rc.rent_id = ri.id)
        LEFT JOIN staff_info si ON (si.staff_code = rc.staff_code)
        WHERE 1 = 1
        <include refid="baseParam"/>
        ORDER BY ri.create_date DESC
    </select>

    <!-- 本月新添房源数量 -->
    <select id="selectRentCountByMonth" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM rent_info ri WHERE DATE_FORMAT( ri.create_date, '%Y%m' ) = DATE_FORMAT(CURDATE(),'%Y%m')
    </select>

    <!-- 十天房源省份统计 -->
    <select id="selectProvinceList" resultType="java.lang.String">
        SELECT
        hi.province
        FROM
        rent_info ri
        LEFT JOIN house_info hi ON ( hi.`code` = ri.house_code )
        WHERE
        DATE_SUB( CURDATE(), INTERVAL 7 DAY ) &lt; date( ri.create_date )
        GROUP BY
        hi.province
    </select>

    <!-- 近十天房源省份统计 -->
    <select id="selectRentProvince" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL( COUNT( ri.id ), 0 ) AS count
        FROM
        (
        SELECT
            DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
            DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN rent_info ri ON (
        DATE_FORMAT( ri.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' ))
        LEFT JOIN house_info hi ON ( hi.`code` = ri.house_code )
        AND hi.province = #{province}
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 近十天房屋合租类型统计 -->
    <select id="selectRentType" resultType="java.util.LinkedHashMap">
        SELECT
        ri.rent_type AS rentType,
        count( 1 ) AS count
        FROM
        rent_info ri
        WHERE
        DATE_SUB( CURDATE(), INTERVAL 7 DAY ) &lt; date( ri.create_date )
        GROUP BY
        ri.rent_type
    </select>
</mapper>
