<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ReplyInfoMapper">

    <sql id="baseResult">
        ri.id,
        ri.user_code,
        ri.post_id,
        ri.content,
        ri.del_flag,
        ri.create_date
    </sql>

    <sql id="baseParam">
        <if test="replyInfo.userName != null and replyInfo.userName != ''">
            AND ui.user_name = #{replyInfo.userName}
        </if>
        <if test="replyInfo.title != null and replyInfo.title != ''">
            AND pi.title = #{replyInfo.title}
        </if>
        <if test="replyInfo.userCode != null and replyInfo.userCode != ''">
            AND ri.user_code = #{replyInfo.userCode}
        </if>
        <if test="replyInfo.postId != null and replyInfo.postId != ''">
            AND ri.post_id = #{replyInfo.postId}
        </if>
        <if test="replyInfo.content != null and replyInfo.content != ''">
            AND ri.content LIKE CONCAT('%',#{replyInfo.content},'%')
        </if>
    </sql>

    <!-- 分页获取帖子回复消息信息 -->
    <select id="selectReplyPage" resultType="java.util.LinkedHashMap">
        SELECT <include refid="baseResult"/>,
        pi.title,
        ui.user_name AS userName,
        ui.avatar
        FROM reply_info ri
        LEFT JOIN post_info pi ON (pi.id = ri.post_id)
        LEFT JOIN user_info ui ON ( ui.code = ri.user_code )
        WHERE 1 = 1
        <include refid="baseParam"/>
        ORDER BY ri.create_date DESC
    </select>
</mapper>
