<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffInfoMapper">

    <!-- 分页获取员工信息 -->
    <select id="selectStaffPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.code,
        si.phone,
        si.sex,
        si.status,
        si.create_date,
        si.responsible
        FROM
        staff_info si
        WHERE
        1 = 1
        <if test="staffInfo.name != null and staffInfo.name != ''">
            AND si.`name` LIKE CONCAT('%',#{staffInfo.name},'%')
        </if>
        <if test="staffInfo.code != null and staffInfo.code != ''">
            AND si.`code` LIKE CONCAT('%',#{staffInfo.code},'%')
        </if>
        <if test="staffInfo.phone != null and staffInfo.phone != ''">
            AND si.`phone` LIKE CONCAT('%',#{staffInfo.phone},'%')
        </if>
        <if test="staffInfo.status != null">
            AND si.`status` = #{staffInfo.status}
        </if>
        ORDER BY
        si.create_date DESC
    </select>
</mapper>
