<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffInfoMapper">

    <!-- 分页获取员工信息 -->
    <select id="selectStaffPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.code,
        si.phone,
        si.sex,
        si.status,
        si.create_date,
        si.responsible
        FROM
        staff_info si
        WHERE
        1 = 1
        <if test="staffInfo.name != null and staffInfo.name != ''">
            AND si.`name` LIKE CONCAT('%',#{staffInfo.name},'%')
        </if>
        <if test="staffInfo.code != null and staffInfo.code != ''">
            AND si.`code` LIKE CONCAT('%',#{staffInfo.code},'%')
        </if>
        <if test="staffInfo.phone != null and staffInfo.phone != ''">
            AND si.`phone` LIKE CONCAT('%',#{staffInfo.phone},'%')
        </if>
        <if test="staffInfo.status != null">
            AND si.`status` = #{staffInfo.status}
        </if>
        ORDER BY
        si.create_date DESC
    </select>

    <!-- 根据状态获取维修信息 -->
    <select id="selectRepairByStatus" resultType="cc.mrbird.febs.cos.entity.vo.RepairVo">
        SELECT
        ri.id,
        ri.repair_code,
        ri.staff_id,
        ri.repair_status,
        ri.remark,
        ri.create_date,
        oi.server_type,
        oi.order_code,
        oi.order_name,
        oi.images,
        si.NAME AS staffName,
        pi1.NAME AS productName,
        pi1.`type` AS productTypeName
        FROM
        repair_info ri
        LEFT JOIN staff_info si ON ( si.id = ri.staff_id )
        LEFT JOIN order_info oi ON ( oi.repair_code = ri.repair_code )
        LEFT JOIN product_info pi1 ON ( pi1.id = oi.product_id )
        WHERE
        1 = 1
        AND ri.repair_status IN
        <foreach item="id" collection="statusList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
