<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffEvaluationMapper">

    <!-- 分页获取员工评价信息 -->
    <select id="selectEvaluatePage" resultType="java.util.LinkedHashMap">
        SELECT
        se.id,
        se.user_id,
        se.order_code,
        se.staff_id,
        se.schedule_score,
        se.repair_score,
        se.service_score,
        se.score,
        se.create_date,
        si.NAME AS staffName,
        ui.NAME AS userName,
        oi.order_name
        FROM
        staff_evaluation se
        LEFT JOIN staff_info si ON ( si.id = se.staff_id )
        LEFT JOIN user_info ui ON ( ui.id = se.user_id )
        LEFT JOIN order_info oi ON ( oi.order_code = se.order_code )
        WHERE
        1 = 1
        <if test="staffEvaluation.staffName != null and staffEvaluation.staffName != ''">
            AND si.`name` LIKE CONCAT('%',#{staffEvaluation.staffName},'%')
        </if>
        <if test="staffEvaluation.userName != null and staffEvaluation.userName != ''">
            AND ui.`name` LIKE CONCAT('%',#{staffEvaluation.userName},'%')
        </if>
        <if test="staffEvaluation.orderName != null and staffEvaluation.orderName != ''">
            AND oi.`order_name` LIKE CONCAT('%',#{staffEvaluation.orderName},'%')
        </if>
        ORDER BY
        se.create_date
    </select>
</mapper>
